[Unit]
Description=Initialize the VConf storage
DefaultDependencies=no
RequiresMountsFor=/var/run
Before=basic.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/etc/rc.d/init.d/vconf-init

[Install]
WantedBy=basic.target

